.container {
  background-color: #ececec;
  width: 100%;
  background-image: url("../public/banner2.png");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: 100% 100%; /*Firefox 3.6*/
  -o-background-size: 100% 100%; /*opera*/
  -webkit-background-size: 100% 100%; /*Safari*/
  background-size: 100% 100%; /*estandar css3*/
  
}

.imgdeIvan {
  width: 380px;
  height: 90vh;
}

.containerText {
  position: absolute;
  right: 0;
  top: 0;
}

.text {
  width: 700px;
  margin-top: 150pt;
  margin-right: 30pt;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #2a2a2a;
}

.subText {
  width: 700px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #2a2a2a;
  margin-right: 30pt;
  margin-top: -20pt;
}

.contactButton {
  background-color: #9908c9;
  color: #fff;
  border: none;
  width: 184px;
  height: 53px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  position: relative;
  transition: all 0.4s;
}

.contactButton:hover {
  cursor: pointer;
  background-color: #7a06a1;
}

.contactText {
  display: inline-flex;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  margin-left: 20px;
  margin-top: -3px;
}

.textSpan {
  color: #9908c9;
}

@media (max-width: 1090px) {
  .container {
    background-position: 15%;
    background-image: url("../public/banner3.png");
  }

  .imgdeIvan {
    margin-left: -20px;
  }

  .containerText {
    width: 95%;
  }

  .text {
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 230pt;
  }

  .subText {
    margin-top: 20pt;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .ivan {
    opacity: 0.4;
  }
}

@media (max-width: 360px) {
  .imgdeIvan {
    width: 100%;
  }
}