.container {
  background: linear-gradient(111.35deg, #1E48AC 4.43%, #9908C9 81.88%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 20px;
}

.smallImageContainer {
  display: none;
}

.title {
  font-weight: 620;
  font-size: 48px;
  margin: 0;
}

.button {
  background-color: #FFFFFF;
  width: auto;
  border: none;
  margin-bottom: 50px;
  color: #bac4dd;
  padding: 0 0 0 20px;
  color: #1E48AC;
}

.button p{
  margin: 0;
  font-weight: 600;
  font-size: medium;
  padding: 13px 25px 13px 10px;
}

.socialContainer {
  color: #FFFFFF;
  /* padding: 30px 0 0 250px; */
}

.socialContainer a{
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
  margin-bottom: 15px;
}

.socialContainer a  p{
  margin: 0;
}

.socialContainer a p:hover{
  text-decoration: underline;
}

.icons {
  font-size: 45px;
  margin-right: 7px;
}

.child, .button {
  display: inline-flex;
  vertical-align: text-bottom;
  box-sizing: inherit;
  text-align: center;
  align-items: center;
}

.facebook_telegram {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .container {
    text-align: center;
  }

  .title {
    display: inline-block;
  }

  .subTitle {
    margin-top: 0;
    padding-top: 0;
  }

  .facebook_telegram {
    align-items: center;
  }

  .bigImageContainer {
    display: none;
  }
  
  .smallImageContainer {
    display: block;
    margin-bottom: 20px;
  }
}
